.image {
  position: relative;
  isolation: isolate;
}

.image::after {
  content: "";
  z-index: -1;
  background-image: linear-gradient(to bottom, transparent, 60%, #0f172b),
    url(../../public/images/squares.jpg);
  background-size: cover;
  opacity: 0.6;
  position: absolute;
  inset: 0;
}
